# Default ignored files
/../../Work_search /.idea/shelf/
/../../Work_search /.idea/workspace.xml
# Editor-based HTTP Client requests
/../../Work_search /.idea/httpRequests/
# Datasource local storage ignored files
/../../Work_search /.idea/dataSources/
/../../Work_search /.idea/dataSources.local.xml
